<%- model_class = Group -%>

<p> 
<h1> Posts should come here! </h1>
</p>

<form>
<div>
<%= form_for @group do |f| %>
<%= f.fields_for :posts do |builder| %>
    <%= render "posts/form", :f => builder %>
  <% end %>
<% end %> 
</div>
</form>

<% @group.posts.each do |post| %>
  <tr>
  	<div>
    <td><%= post.body %></td>
	</div>
  </tr>
<% end %>


