<p> 
	<h1> Posts should come here! </h1>
</p>

<div>
	<%= render "posts/form" %>
</div>
	
<div id="listing">
	<% @group.posts.each do |post| %>
		<div class="list item">
				<%= post.body %>
				<%= link_to 'Delete', group_post_path(@group.id, post.id), :confirm => "are you sure?", :method => :delete %>
		</div>
	<% end %>
</div>

<% content_for :calendar do %>
        <div class="span2 pull-right">
          <legend> Upcoming Events </legend>
          <p class="lead" style="border-bottom: 1px solid black"> list of upcoming events from calendar </p><a href="#"> View group calendar </a>
        </div><!--/span-->

<% end %>