<div style="margin-top: 20px">
	<%= render "posts/form" %>
</div>
	
<div id="listing">
	<% @group.posts.each do |post| %>
		<div class="list item">
				<%= post.body %>
				<%= link_to 'Delete', group_post_path(@group.id, post.id), :confirm => "are you sure?", :method => :delete %>
		</div>
	<% end %>
</div>

<% content_for :events do %>
        <div class="span2 pull-right">
           Upcoming Events <hr>

           EVENT 1
           EVENT 2
           <hr>
          <%= link_to 'View group calendar', group_events_path(@group) %>
        </div><!--/span-->

<% end %>

