<div class="hero-unit">
<h1>Toru for Academic Groups</h1>
<p class="lead">Discuss topics, share files, and plan events</p>

<div>
	<%= link_to "Register for Toru", new_user_registration_path, :class => "btn btn-danger btn-large" %><br />
</div>

</div>




