<h2>Frequently Asked Questions</h2> <br />
<div class="collapse-group well">
	<a data-toggle="collapse" data-target="#groupswork">How do Groups work?</a>
	<p class="collapse" id="groupswork">
		Groups are designed for academic clubs, group projects, study groups, and people with common interests who want to connect. You can discuss topics, share files, and plan events.
	</p>
	<br />

	<a data-toggle="collapse" data-target="#groupscreate">How do I create a Group?</a>
	<p class="collapse" id="groupscreate">
		Once you have a user profile, you will see a menu across the top of the website: , Groups, Help, and Me. Click “Groups” and you will be redirected to "Groups" page. There you will find "New" button for creating a new Group.
	</p>
	<br />
	<a data-toggle="collapse" data-target="#cancelaccount">Can I cancel my account?</a>
	<p class="collapse" id="cancelaccount">
		Yes you can cancel your account. To do so you need to go to  your Settings where you will find "Cancel my account" button.
	</p>
	<br />
</div>
