<%= form_for([@group, @post]) do |f| %>
	<div style="posts">
		<%= f.text_area :body, :class => 'text_field' %>
	</div>

	<div>
   		<%= f.submit nil, :class => 'btn btn-primary' %>
	</div>

<% end %>